{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}

{% block content %}
<div class="container col-xxl-8 px-2">
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 text-body-emphasis lh-1 mb-3">
                {{ project_data.project_title }}
            </h1>
            <p class="lead">The project aims to challenge the current understanding of the cultural history of historiography in the Carolingian and post-Carolingian world (9th 12th centuries) with an innovative and precisely focussed investigation of two major centres of historical writing during this period, Salzburg and Freising.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="search.html" type="button"
                    class="btn btn-primary btn-lg px-4 me-md-2">Search
                </a>
                <a href="manuscripts.html" type="button"
                    class="btn btn-outline-secondary btn-lg px-4">Browse</a>
                </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <figure class="figure">
            <img src="img/title-img.jpg" class="d-block mx-lg-auto img-fluid"
                alt="Wien, Österreichische Nationalbibliothek (ÖNB), Cod. 387, fol. 90v." width="700" height="500" loading="lazy">
                <figcaption class="figure-caption">Wien, Österreichische Nationalbibliothek (ÖNB), Cod. 387, fol. 90v.</figcaption>
            </figure>
        </div>
    </div>
</div>

{% endblock content %}