{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %} 
<hr>
<h3>About</h3>

<dl class="p-3">
    <dt>Holding Institution</dt>
    
    {% for x in data.library_full %}
    <dd>
        {{ x.library_full }}
        <a href="{{ x.library_website }}">
            <i class="bi bi-box-arrow-up-right fs-5" area-hidden="true"></i>
            <span class="visually-hidden">link to {{ x.library_full }} website</span>
        </a>
    </dd>
    {% endfor %}

    <dt>
        Extent
    </dt>
    <dd>{{ data.extent }}f; {{ data.height }} x {{ data.width }}</dd>

    <dt>Foliation</dt>
    <dd>{{ data.foliation }}</dd>

    <dt>Quire Structure</dt>
    <dd>{{ data.quire_structure|safe }}</dd>

    <dt>Binding</dt>
    <dd>{{ data.binding }}</dd>
    {% for x in data.binding_date %}
    <dd>{{ x.value }}</dd>
    {% endfor %}

    <dt>History</dt>
    <dd>{{ data.history }}</dd>

    <dt>Material</dt>
    <dd>{{ data.material.value }}</dd>
    <dd>{{ data.material_spec }}</dd>

    <dt>Location / Place of origin</dt>
    {% for x in data.orig_place %}
    <dd>
        {{ x.name }}, {% for y in x.country %}{{ y.name }}{% endfor %}
        <a href="{{ x.geonames_url }}">
            <i class="bi bi-geo" area-hidden="true"></i>
            <span class="visually-hidden">link to geoanmes entry for {{ x.name }}</span>
        </a>
    </dd>
    {% endfor %}

    <dt>Dated</dt>
    {% for x in data.manuscripts_dated %}
    <dd>
        {% set date = x.date|first %}
        {% set authority = x.authority|first %}
        {{ date.label }} by {{ authority.name }}, <cite title>{{ authority.short_title }}</cite>, p. {{ x.page }}
    </dd>
    {% endfor %}

    {% if data.content_summary %}
    <dt>Summary</dt>
    <dd>
        {{ data.content_summary }}
    </dd>
    {% endif %}


    <dt>further resources</dt>
    {% if data.catalog_url %}
    <dd>
        <a href="{{ data.catalog_url }}">
            <i class="bi bi-collection" area-hidden="true"></i>
            <span class="visually-hidden">link to library catalog</span>
            library catalog
        </a>
    </dd>
    {% endif %}
    {% if data.digi_url %}
    <dd>
        <a href="{{ data.digi_url }}">
            <i class="bi bi-card-image" area-hidden="true"></i>
            <span class="visually-hidden">link to facsimiles</span>
            facsimiles
        </a>
    </dd>
    {% endif %}
    {% if data.manuscripta_url %}
    <dd>
        <a href="{{ data.manuscripta_url }}">
            <i class="bi bi-collection" area-hidden="true"></i>
            <span class="visually-hidden">link to manuscripta.at</span>
            manuscripta.at
        </a>
    </dd>
    {% endif %}
    {% if data.handschriftenportal_url %}
    <dd>
        <a href="{{ data.handschriftenportal_url }}">
            <i class="bi bi-collection" area-hidden="true"></i>
            <span class="visually-hidden">link to handschriftenportal.at</span>
            handschriftenportal.at
        </a>
    </dd>
    {% endif %}
</dl>

<hr>
<h3>Content</h3>
{% for x in data.related__cod_units %}
    
    <h4>Unit {{ x.id }}</h4>

    <h5>Lagen</h5>
    <ul>
    {% for q in x.quire %}
        <li>
        {{ q.locus }} | {{ q.quire_structure }}{{ q.written }} | {{ q.ruling }} | {{ q.decoration }}
        </li>
    {% endfor %}
    </ul>

    <h5>MS-Items</h5>
    <ul>
    {% for q in x.related__ms_items %}
        <li>
        {{ q.locus_grp }} |
        </li>
    {% endfor %}
    </ul>


{% endfor %}
{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}