{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %} 
<hr>
<h3>About</h3>
<dl>
    <dt>
        Manuscript
    </dt>
    {% for manuscript in data.manuscript %}
        <dd>
            <a href="{{ manuscript.hit_id }}.html">
            {% for x in manuscript.shelfmark %}
                {{ x.value }}
            {% endfor %}
            </a>
        </dd>
    {% endfor %}

    <dt>
        Location in Manuscript
    </dt>
    <dd>
        {{ data.locus_grp }}
    </dd>

    <dt>
        Incipit
    </dt>
    <dd>
        {{ data.incipit }}
    </dd>

    <dt>
        Explicit
    </dt>
    <dd>
        {{ data.explicit }}
    </dd>

    <dt>
        Rubric
    </dt>
    <dd>
        {{ data.rubric }}
    </dd>

    <dt>
        Work
    </dt>
    {% for x in data.title_work %}
    <dd>
        <a href="{{ x.hit_id }}.html">{{ x.title }}</a>
    </dd>
    {% endfor %}
</dl>

<h3>Hands</h3>
<ul>
    {% for x in data.hands_role %}
        {% for hand in x.hand %}
            <li>
                <a href="hit_hands__{{ hand.id }}.html">{{ hand.value }}</a>; {% for role in x.role %} {{ role.value }}{% endfor %}
            </li>
        {% endfor %}
    {% endfor %}

</ul>

{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}