{% extends "templates/partials/detail_view.j2" %}

{% block detail_view %}
<hr>
<h3>About</h3>
<dl>
    {% if data.author %}
    <dt>Author</dt>
    {% for x in data.author %}
    <dd><a href="{{ x.hit_id }}.html">{{ x.name }}</a></dd>
    {% endfor %}
    {% endif %}

    {% if data.genre %}
    <dt>Genre</dt>
    {% for x in data.genre %}
    <dd>{{ x.genre }}</dd>
    {% endfor %}
    {% endif %}
</dl>

<h3>mentioned in</h3>
<ul>
    {% for ms_item in data.related__ms_items %}
    <li>
        {% for ms in ms_item.manuscript %}
            {% for x in ms.shelfmark %}
                <a href="{{ ms_item.hit_id }}.html">{{ x.value }}
            {% endfor %}
        {% endfor %} | 
        {{ ms_item.locus_grp }}</a> | 
        {% if ms_item.rubric %} ›<span class="fst-italic">{{ ms_item.rubric }}</span>‹{% endif %}
        {% if ms_item.incipit %} <span class="fst-italic">{{ ms_item.incipit }}</span>{% endif %}
        {% if ms_item.explicit %} — <span class="fst-italic">{{ ms_item.explicit }}</span>{% endif %}
    </li>
    {% endfor %}
</ul>
</div>
{% endblock detail_view %}
{% block scripts2 %}
{% endblock scripts2 %}